<div class="container-fluid home-page pt-5">
    
    <div class="row d-flex">
        <div class="col search-results-container align-self-center">
            <% if @artists.nil?%>
            <p>Désolé aucun artiste ne correspond à votre recherche</p>
            <% else %>
                <ul class="list-group custom-list-group">
                <% @artists.each do |artist| %>
                <% @image = artist.images.third%>
                <% if !@image.nil? %>
                    <li class="list-group-item custom-list-item">
                        <div class="col-xs-12 text-white ">
                            <div class="row">
                                <div class="col d-flex ">
                                    <%= image_tag(@image["url"]) %> 
                                </div>
                                <div class="col d-flex align-items-center">
                                    <%= artist.name %>  
                                </div>
                                
                                <div class="col d-flex align-items-center">
                                    <%= link_to "Show", artist_path(artist.id) %>
                                </div>
                            </div>
                        </div>
                    </li>
                <%# else %>
                    <!--li class="list-group-item custom-list-item"><%#= artist.name %>  <#%= link_to "Show", artist_path(artist.id) %></li-->
                <% end %>
                
                
                <% end %>
            </ul>
            <% end %>
        </div>
    </div>
</div>


