<div class="container-fluid home-page pt-5">
    <div class="row h-50 d-flex pt-5">
        <div class="col-md-12 py-5 mt-5  align-self-end text-center tagline-container text-white">
            <h1 class="mb-4">Vos artistes favoris à portée de clic</h1>
            <p>Entez le nom d'un artiste et découvrez sa discographie</p>
            <%= render 'layouts/search_bar' %>
        </div>
    </div>
    
</div>